name: Java Conformance CI
on:
  push:
    branches:
    - master
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [
          11.x
          # 12.x,
          # 13.x
        ]
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.15'
    
    - name: Build API with Maven
      run: (cd functions-framework-api/ && mvn install)

    - name: Build invoker with Maven
      run: (cd invoker/ && mvn install)
    
    - name: Run HTTP conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v0.3.8
      with:
        functionType: 'http'
        useBuildpacks: false
        validateMapping: false
        cmd: "'mvn -f invoker/conformance/pom.xml function:run -Drun.functionTarget=com.google.cloud.functions.conformance.HttpConformanceFunction'"
        startDelay: 10

    - name: Run cloudevent conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@v0.3.8
      with:
        functionType: 'cloudevent'
        useBuildpacks: false
        cmd: "'mvn -f invoker/conformance/pom.xml function:run -Drun.functionTarget=com.google.cloud.functions.conformance.CloudEventsConformanceFunction'"
        startDelay: 10