name: Java Conformance CI
on:
  push:
    branches:
    - main
  pull_request:

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [
          17.x,
          21.x
        ]
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          github.com:443
          objects.githubusercontent.com:443
          proxy.golang.org:443
          release-assets.githubusercontent.com:443
          repo.maven.apache.org:443
          storage.googleapis.com:443

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin

    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: '1.25'

    - name: Build API with Maven
      run: (cd functions-framework-api/ && mvn install)

    - name: Build invoker with Maven
      run: (cd invoker/ && mvn install)

    - name: Build invoker Maven Plugin
      run: (cd function-maven-plugin/ && mvn install)

    - name: Run HTTP conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@6ae50bd9db5ed980c5ceff3cf7b200f705be94fc # main
      with:
        functionType: 'http'
        useBuildpacks: false
        cmd: "'mvn -f invoker/conformance/pom.xml function:run -Drun.functionTarget=com.google.cloud.functions.conformance.HttpConformanceFunction'"
        startDelay: 10

    - name: Run Typed conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@6ae50bd9db5ed980c5ceff3cf7b200f705be94fc # main
      with:
        functionType: 'http'
        declarativeType: 'typed'
        useBuildpacks: false
        cmd: "'mvn -f invoker/conformance/pom.xml function:run -Drun.functionTarget=com.google.cloud.functions.conformance.TypedConformanceFunction'"
        startDelay: 10

    - name: Run background event conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@6ae50bd9db5ed980c5ceff3cf7b200f705be94fc # main
      with:
        functionType: 'legacyevent'
        useBuildpacks: false
        validateMapping: true
        cmd: "'mvn -f invoker/conformance/pom.xml function:run -Drun.functionTarget=com.google.cloud.functions.conformance.BackgroundEventConformanceFunction'"
        startDelay: 10

    - name: Run cloudevent conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@6ae50bd9db5ed980c5ceff3cf7b200f705be94fc # main
      with:
        functionType: 'cloudevent'
        useBuildpacks: false
        validateMapping: true
        cmd: "'mvn -f invoker/conformance/pom.xml function:run -Drun.functionTarget=com.google.cloud.functions.conformance.CloudEventsConformanceFunction'"
        startDelay: 10

    - name: Run HTTP concurrency conformance tests
      uses: GoogleCloudPlatform/functions-framework-conformance/action@6ae50bd9db5ed980c5ceff3cf7b200f705be94fc # main
      with:
        functionType: 'http'
        useBuildpacks: false
        validateConcurrency: true
        cmd: "'mvn -f invoker/conformance/pom.xml function:run -Drun.functionTarget=com.google.cloud.functions.conformance.ConcurrentHttpConformanceFunction'"
        startDelay: 10
