name: Java Lint CI
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          github.com:443
          repo.maven.apache.org:443
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up JDK
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 17.x
        distribution: temurin
    - name: Build API with Maven
      run: (cd functions-framework-api/ && mvn install)
    - name: Lint Functions Framework API
      run: (cd functions-framework-api/ && mvn clean verify -DskipTests -P lint)
    - name: Build Invoker with Maven
      run: (cd functions-framework-api/ && mvn install)
    - name: Lint Invoker
      run: (cd invoker/ && mvn clean verify -DskipTests -P lint)
  formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2 # v2 minimum required
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 21.x
          distribution: temurin
      - name: Run formatter
        id: formatter
        uses: axel-op/googlejavaformat-action@dbff853fb823671ec5781365233bf86543b13215 # v3
        with:
          args: "--replace"
          skip-commit: true
      - name: Print diffs
        run: git --no-pager diff --exit-code
