name: Java Lint CI
on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          github.com:443
          repo.maven.apache.org:443
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up JDK
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: 17.x
        distribution: temurin
    - name: Build API with Maven
      run: (cd functions-framework-api/ && mvn install)
    - name: Lint Functions Framework API
      run: (cd functions-framework-api/ && mvn clean verify -DskipTests -P lint)
    - name: Build Invoker with Maven
      run: (cd functions-framework-api/ && mvn install)
    - name: Lint Invoker
      run: (cd invoker/ && mvn clean verify -DskipTests -P lint)
  formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0 # v2 minimum required
      - name: Set up JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 21.x
          distribution: temurin
      - name: Run formatter
        id: formatter
        uses: axel-op/googlejavaformat-action@dbff853fb823671ec5781365233bf86543b13215 # v3
        with:
          args: "--replace"
          skip-commit: true
      - name: Print diffs
        run: git --no-pager diff --exit-code
