name: Java Unit CI
on:
  push:
    branches:
    - main
  pull_request:
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [
          17.x,
          21.x
        ]
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          github.com:443
          repo.maven.apache.org:443
          api.adoptium.net:443
          *.githubusercontent.com:443
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
    - name: Build with Maven
      run: (cd functions-framework-api/ && mvn install)
    - name: Test
      run: (cd invoker/ && mvn test)
